@font-face {
    font-family: RobotoSlab;
    src: url("./components/fonts/RobotoSlab-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: RobotoSlab;
    src: url("./components/fonts/RobotoSlab-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: RobotoSlab;
    src: url("./components/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed;
    src: url("./components/fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: RobotoCondensed;
    src: url("./components/fonts/RobotoCondensed-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: RobotoCondensed;
    src: url("./components/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: iCiel Crocante;
    src: url("./components/fonts/iCiel Crocante.otf")
}

@font-face {
    font-family: fontawesome;
    src: url("./components/fonts/fontawesome-webfont.ttf")
}

@font-face {
    font-family: "Open Sans";
    src: url("./components/fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: "Droid Serif";
    src: url("./components/fonts/DroidSerif-Regular.ttf")
}

* {
    font-family: "Open Sans";
    font-size: 16px;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration-style: none;
    min-height: 100%;
    color: #333;
}

/* HEADER */
/* ////////// NAVIGATION BAR */
#header {
    width: 100%;
    height: 60px;
    background-color: #de4e4f;
    border-bottom: 2px solid #461220;
    position: relative;
}

#header-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;    
    justify-content: flex-start;    
}

#header-wrapper > div {
    height: 100%;
    display: flex;
}

#header-wrapper .right-header {
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

#logo-wrapper {
    height: 100%;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    background: #dcdcdc;
    height: 40px;
    width: 40px;
    margin: 10px 5px 10px 15px;
}

#logo-wrapper span {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Droid Serif";
    height: 100%;
    line-height: 100%;
    padding-top: 20px;
}

.nav-menu {
    color: black;
    padding: 5px 10px;
    margin: auto 0;
    font-family: "RobotoCondensed";
    font-size: 1em;
}

.nav-menu:hover {
    color: white;
    transition: all .5s; 
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    font-family: "RobotoCondensed";    
}


.search-bar-wrapper {
    position: relative;
    height: 40px;
    font-size: 1em;
    margin-top: 10px;
    display: block;
}
.search-bar {
    width: 200px;
    height: 100%;
    font-size: 1em;
    border-radius: 0 10px 10px 0;
    transition: .25s all ease;
    border: none;  
    padding-left: 5px;  
    display: inline-block;
    background: rgba(255, 255, 255, .7);    
    float: right;
}
.search-bar:focus {
    box-shadow: 0 0 2px #de4e4f;
    background: rgba(255, 255, 255, 1);    
}
.search-type {
    height: 100%;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    display: inline-block;
    float: left;
    border-radius: 10px 0 0 10px;
    position: relative;
    border-right: 1px solid rgba(51, 51, 51, .3);
}
.search-type span {
    position: absolute;
    right: 30px;
    color: #333;
    top: 7px;
} 
.search-type:hover {
    cursor: pointer;
    background: white;    
}
.search-type::after {
    content: "\f107";
    font-family: "fontawesome";
    color: #333;
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 0;
    vertical-align: middle;
}

.search-type ul {
    display: none;
    position: relative;
    background: rgb(255, 255, 255, .8);
    color: #333;
    border: 1px solid rgb(220, 220, 220, .5);
    top: 110%;
    left: 10px;
    box-shadow: 3px 0 7px rgba(0, 0, 0, .3);
    z-index: 100;
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.search-type li {
    padding: 5px;
    width: 100%;
}
.search-type li:hover {
    background: #de4e4f;
    color: white;
}


.auth-wrapper {
    height: 40px;
    margin: auto 5px;    
    padding-left: 10px;
}

.auth-menu {
    position: relative;
    height: 40px;
    margin: auto 5px;    
    width: 70px;
    text-align: center;
    font-size: 1.1em;
    font-family: RobotoCondensed;
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    transition: .5s all ease;    
}

.auth-menu:nth-child(1) {
    background: rgba(142, 158, 171, .5);    
}
.auth-menu:nth-child(1) {
    background: #F49D37;    
}
.auth-menu:nth-child(2) {
    background: #3f88c5;   
    color: white; 
}



.auth-menu:hover {
    background: #de4e4f;
    cursor: pointer;
    color: white;    
}
.setting {
    display: block;
    position: relative;
    height: 40px;   
    width: 40px;
    transition: .1s all ease-in-out;
    transition: .05s all ease-in-out;    
}
.setting::after {
    content: '\f0c9';
    font-family: 'fontawesome';
    color: #fff;
    background: #de4e4f;    
    text-align: center;
    font-size: 1.5em;
    display: block;
    line-height: 40px;
    height: 100%;
    width: 100%;
    margin: auto 5px;    
    position: absolute;
    right: 0;
}
.setting:hover::after {
    cursor: pointer;
}
.setting:hover:active {
    transform: scale(1.2);
}

.cur-user-ava {
    height: 40px;
    width: 40px;
    border-radius: 25%;
}

/* /////////////BANNER */
.main-banner {
    width: 100%;
    height: 30vw;
    background: white;
    position: relative;
    display: block;
    border: 1px solid black;
}


/* CONTENT */
/* ////////////////// MAINPAGE'S WIDGET */
/* React Router Link */
body {
    background-repeat: repeat;
    background-color: white;
    background-size: 10px 10px;
}
a {
    width: 100%;
    color: black;
}

a:hover {
    color: black;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 30px 15px 50px 15px;
}

.widget-lastest-item:hover {
    cursor: pointer;
}

.widget-header {
    position: relative;
    padding: 20px 0;
    color: #393E41;
    font-size: 1.5em;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'RobotoCondensed';
    width: 100%;
}
.widget-body {
    width: 100%;
}
.widget-header:before {
    content: "\00a0";
    position: absolute;
    left: 0;
    top: 20px;
    width: 50%;
    max-width: 100px;
    border-bottom: 3px solid rgba(57, 62, 65, .5);
    transition: all .2s ease-in-out;
}

.widget-header:hover:before {
    width: 80%;
    max-width: 160px;
}

.widget-lastest-item {
    display: block;
    margin: 20px 10px;;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 5px black;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 0 !important;
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    position: absolute;
}
.img-wrapper:hover .mask {
    bottom: 0;
    height: 100%;    
}

.img-wrapper .mask {
    position: absolute;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .6);
    color: white;
    font-size: 1em;
    overflow: hidden;
    transition: all .5s ease;   
    bottom: 100%;     
}
.img-wrapper .mask:before {
    content: '\f10d';
    font-family: fontawesome;
    font-size: 3em;
    position: absolute;
    color: rgba(255, 255, 255, .3);
    left: 20px;
}

.mask div {
    position: relative;
    height: 100%;
    margin-top: 50px;    
}

.mask p {
    position: relative;
    text-indent: 2em;
    max-height: 100%;
    padding-left: 20px;
}

.widget-lastest-item .descr-wrapper {
    padding: 15px 5px;
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
    background: #8E9EAB;
    padding: 0;
}
.widget-lastest-item .descr-wrapper::before {
    content: "\f078";
    width: 100%;
    position: relative;
    font-family: fontawesome;
    font-weight: bold;
    text-align: center;
}


.widget-lastest-item .small-title {
    font-family: "RobotoCondensed";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.title-wrapper {
    background: #dcdcdc;
    color: 343434;
    border-radius: 5px 5px 0 0;
}
.info-wrapper {
    display: flex;
    padding: 0!important;
    padding-top: 10px;
    text-align: right;
    flex-wrap: wrap;
}

.info-wrapper>div {
    width: 100%
}

.info-wrapper button {
    font-size: 1em;
}

.info-wrapper span:not(.more){
    padding-right: .25em;
    float: right;
}

.info-wrapper .row>div {
    padding: 5px 0;
    float: left;
}

.widget-lastest-item .views::before {
    content: "\f06e";
    font-family: "fontawesome";
    margin-right: 5px;
}

.widget-lastest-item .rating::before {
    content: "\f132";
    font-family: "fontawesome";
    margin-right: 5px;    
}

.widget-lastest-item .mess::before {
    content: "\f086";
    font-family: "fontawesome";
    margin-right: 5px;    
}

.widget-lastest-item .more {
    text-align: center;
    font-size: .9em;
    width: 100%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    /* transition: all .75s ease; */
    margin: auto;
    /* transition-delay: .4s; */
}
.more-wrapper {
    width: 100%;
    background: rgb(220, 220, 220, .5);
    padding: 5px 0;
}

.more-wrapper:hover {
    cursor: pointer;
}

/* .widget-lastest-item .more-wrapper:hover .more { */
    /* width: 100%; */
    /* transition-delay: 0; */
/* } */

.widget-lastest-item .more::before {
    content: "\f078";
    margin-right: 5px;
    font-family: "fontawesome";
}


/* Footer */
#footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #111;
    color: #777;
    padding:0;
    margin: 0;
    max-width: none;
}
.footer-page-info {
    background: #696969;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer-page-nav {
    padding: 0;
    margin: 0;
}

.middle-wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 10px 0;
}

#right-footer-menu {
    display: block;
    margin: 0;
    text-align: right;
    height: 100%;
    box-sizing: border-box;    
}
#left-footer-menu {
    display: block;
    margin: 0;
    text-align: left;
    height: 100%;
    padding: 30px 0 30px 30px;
    box-sizing: border-box;
}

.contributor-list {
    display: flex;
    width: 100%;
}
.contributor-list div {
    width: 4vw;
    height: 4vw;
    border-radius: 1vw;
    background: #777;
    margin: 5px;
}

#right-footer-menu span {
    font-size: 1em;
}

.nav-foot-menu {
    display: inline-block;
    padding: 5px;
}

/* Click FX */
  button {
    border: none;
    cursor: pointer;
    background: none;
  }
  
  /* Ripple magic */
  .button, .button2{
    position: relative;
    overflow: hidden;
  }
  
  .button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  .button2:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(220, 220, 220,.6);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }
  
  .button:focus:not(:active)::after, .button2:focus:not(:active)::after {
    animation: ripple 1s ease-out;
  }

  /* Pop */
  #popover-positioned-bottom {
      z-index: 100
  }



  /* VIEWS  */

  .body-content {
      width: 100%;
      min-height: 100%;
      position: relative;
  }

  /* Side Widget */
  .side-widget {
      width: 25%;
      min-width: 250px;
      max-width: 300px;
      height: 100%;
      z-index: 100;
      background: white;
      position: fixed;
      right: 0;
      top: 61px;
      transition: all .1s ease-in-out;
  }

  

  .cur-user > .user-chat-info > .user-ava {
      border: 2px solid white;
  }

  .user-chat-info {
      width: 100%;
      display: flex;
      padding: 5px 5px 5px 20px;
  }

  .cur-user>.user-chat-info {
      padding: 5px;
  }

  .online > .user-ava {
      border: 2px solid #8fc951;
  }
  .offline > .user-ava {
      border: 2px solid rgba(220, 220, 220, 1);
  }

  .offline > .user-name {
      color: rgba(51, 51, 51, .2);
  }

  .user-chat-info .user-ava {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      background: #de4e4f;
      flex-grow: 0;
  }
  .user-chat-info .user-name {
      height: 40px;
      line-height: 40px;
      font-size: 1.25em;
      padding-left: .5em;
  }

  .sub-widget span {
      color: #777;
      display: block;
      text-align: right;
      padding: 5px 5px 0 5px;
      margin-left: 25px;
      border-bottom: 1px solid rgba(220, 220, 220, .5);
      font-size: .9em;
      font-style: italic;
  }

  /* Project Info */
  .project-info {
    min-height: 800px;      
  }
  
  .project-banner {
      width: 100%;
      min-height: 15vw;
      max-height: 25vw;
      text-align: center;
      background: black;
      overflow: hidden;
      border: inset 1px black;
      position: relative;
  }
  .project-banner::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.2);
      position: absolute;
      top: 0;
      left: 0;
  }

  .project-banner img {
      position: relative;
      width: 100%;
  }
        /* Project Info Widget */
  .project-mini-panel {
      width: 20%;
      min-width: 200px;
      max-width: 250px;
      position: absolute;
      height: auto;
      background: rgba(255,255,255,.7);
      right: 15px;
  }
  .project-mini-panel .panel-header {
    background: rgba(0,0,0,.7);
    width: 100%;
    height: auto;
    color: white;
    padding: .25em;
    font-size: 1.1em;
  }
